ul{
    list-style-type: none;
    background-color: sandybrown;
    
    
}
li{
    display: inline;
    margin-right: 15px;
    color: white;
}
a{
    text-decoration: none;
    color: olive;
    
}
table,td,th{
    border: 3px dashed black;
    border-collapse: collapse;
}
h2{
    text-align: center;
    color: rgb(167, 102, 46);
}
